html{
  box-sizing: border-box;
  font-family:'Karla';
  font-size:16px;
}
body{
  padding:20px;
}

h2, h4, p{
  margin:0;
}



*, *:before, *:after{
box-sizing: inherit;}

#card{
  /*width:600px;
  height:400px;*/
  box-shadow:2px 3px 6px 0px rgba(0,0,0,0.35);
  border-radius:5px;
  overflow:hidden;
}

#top-section{
  width:100%;
  height:45%;
  padding:25px;
}

#bottom-section{
  display: flex;
  flex-direction: column;
  width:100%;
  height:55%;
  color:white;
  border:2px solid blue;
}

#bottom-left-section{
  background-color: #2ab2af;
  /*width:50%;*/
  height:100%;
  padding:25px;
  flex-basis:50%;
}

#bottom-right-section{
  background-color: #2ebfbd;
  /*width:50%;*/
  height:100%;
  padding:25px;
  flex-basis:50%;
}

#top-section h2{
  color:#2ab2af;
  margin-bottom:20px;
}
#top-section h4{
  color:#c0df34;
  margin-bottom:10px;
}
#top-section p{
  color:#98a6bd;
  margin-bottom:5px;
}

button{
  background-color:#c0df34;
  color:white;
  border:none;
  padding:10px;
  width:100%;
  border-radius:5px;
}

button:hover{
  cursor:pointer;
  background-color:#a9c42D;
  transform:scale(1.02);
}

#price p{
  font-weight:700;
  font-size: 1.4rem;
}

#bottom-left-section h4{
  margin-bottom:25px;
}

#price-container{
  display:flex;
  align-items: center;
  margin-bottom:10px;
}


#price-frequency{
  font-size:0.8rem;
  opacity:0.7;
  margin-left:5px;
}

#p{
  font-size:0.8rem;
  margin-bottom:40px;
}



#bottom-right-section ul{
  color:#FFCCDD;
  padding:0;
  font-size:0.8rem;
  opacity:0.8;
}

@media (min-widhth:576px){
  #card{
    width:550px;
    height:400px;
  }

  #bottom-section{
    flex-direction:row;
  }
 
  
}